{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Become A Teacher Today</title>
  <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
</head>
<body>

<div class="menu" id="menu">
    &#9776;
  </div>
  
<nav class="sidebar" id="sidebar">
    <ul class="sidebar-list">
        <a href="{% url 'tutionmate:homepage' %}"><li>Homepage</li></a>
        <a href="#"><li>Best Reviewed</li></a>
        <a href="#"><li>Near Me</li></a>
        <a href="{% url 'tutionmate:login1' %}"><li>Login</li></a>
        <a href="{% url 'tutionmate:loginpage' %}"><li>Sign up</li></a>
    </ul>
  </nav>



  <div class="form-container">
    <h2>Become A Tutor Today</h2>
    <form method="POST" action ="" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="name">Full name</label>
      {{ form.username }}

      <label for="image">Profile Photo</label>
      {{ form.image }}

      <label for="subject">Subject Taught</label>
      {{form.subjects}}
      

      <label>Rate Range (per hour)</label>
      <div class="rate-group">
      {{ form.min_rate }}
      {{ form.max_rate }}
      </div>

      <label for="email">Email Address</label>
      {{ form.email }}

      <label for="email">Phone Number</label>
      {{ form.phone_number }}

      <label for="phone">password</label>
      {{ form.password }}

      <label for="phone">confirm password</label>
      {{ form.confirm_password }}

      {{ form.errors }}
      <p style="text-align: center; padding-bottom: 10px">
        Have an account already? <a href="{% url 'tutionmate:login1' %}" style="color: #55bbbb;">Login</a>
      </p>
      <button type="submit" class="submit-btn">Sign Up</button>
    </form>
  </div>
<script src="{% static 'js/homepage.js' %}"></script>
</body>
</html>
