{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  <!-- Add any meta, links, or scripts here -->
</head>
<body>
    {% if request.user.is_authenticated %}
        <!-- profile_edit.html -->
    <form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    <h2>Account Info</h2>
  {{ user_form.as_p }}

    <h2>Teacher Profile</h2>
  {{ teacher_form.as_p }}

    <button type="submit">Save</button>
    </form>


   {% endif %}
</body>
